.detail {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 20px 40px 40px 40px;
  @media all and (min-width: $l) {
    height: 500px;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
  }
}
.detail__img {
  height: 200px;
}
.detail__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  @media all and (min-width: $l) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
.detail__price {
  position: absolute;
  background: linear-gradient(336deg, $secondary 0%, $secondary-dark 100%);
  padding: 14px 20px;
  display: inline-block;
  border-radius: 8px;
  right: -60px;
  top: -60px;
  box-shadow: 6px 6px 14px -9px $secondary;
}
.detail__color-container {
  display: flex;
  align-items: center;
  @media all and (min-width: $l) {
    margin-left: 0;
  }
}
.detail__color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid $grey;
  margin-left: 5px;
}
.detail__description {
  line-height: 25px;
  text-align: center;
  @media all and (min-width: $l) {
    text-align: start;
  }
}
.detail__specs-container {
  display: flex;
  flex-direction: column;
  @media all and (min-width: $m) {
    flex-direction: row;
  }
}
.detail__spec {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.fas {
  height: 30px;
  margin-bottom: 5px;
}
.detail__specs-text {
  margin-top: 10px;
}
.detail__back-icon {
  margin-left: 40px;
  position: absolute;
  top: -10px;
  left: -50px;
  transition: transform .4s;
  &:hover {
    transform: scale(1.5);
  }
}