.detail {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 40px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    max-width: 900px;
    height: 500px;
    align-items: center;
  }
}
.detail__img {
  height: 200px;
}
.detail__info {
  position: relative;
}
.detail__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail__price {
  position: absolute;
  background: $secondary;
  padding: 14px 20px;
  display: inline-block;
  font-size: 34px;
  border-radius: 8px;
  right: -60px;
  top: -60px;
  box-shadow: 6px 6px 14px -9px $secondary;
}
.detail__color-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.detail__color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid $grey;
  margin-left: 5px;
}
.detail__color {

}
.detail__description {

}
.detail__specs-container {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}
.detail__spec {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.fas {
  color: $primary;
  font-size: 30px;
  margin-bottom: 5px;
}
.detail__specs-text {
  margin-top: 10px;
}