.detail__error-tag {
  position: absolute;
  background: linear-gradient(336deg, $secondary 0%, $secondary-dark 100%);
  padding: 14px 20px;
  display: inline-block;
  border-radius: 8px;
  right: -30px;
  top: -18px;
  box-shadow: 6px 6px 14px -9px $secondary;
}
.error__card {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 40px;
  align-items: center;
  @media all and (min-width: $l) {
    max-width: 900px;
  }
}