@import './core/vars';
@import './core/colors';
@import './core/typography';
@import './core/spacing';
@import './components/cards';
@import './components/loader';
@import './layout/footer';
@import './layout/header';
@import './pages/detail';
@import './pages/error';

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background-color: $bg-white;
  font-family: "Roboto Slab", serif;
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  margin-bottom: 20px;
}