.text-dark {
  color: $black;
}
.text-grey {
  color: $grey;
}
.text-light {
  color: $white;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.title {
  font-family: $font-title;
}
.text {
  font-family: $font-text;
}
.uppercase {
  text-transform: uppercase;
}