//Colors
$primary-light: #A3E4D7;
$primary: #36D7B7;
$primary-dark: #16A085;

$secondary-light: #BB8FCE;
$secondary: #8E44AD;
$secondary-dark: #6C3384;

$black: #263238;
$grey: #78909C;
$white: #FFFFFF;
$bg-white: #FAFAFA;
$blue: #1F618D;

//Typography
$font-title: 'Lexend Exa', sans-serif;
$font-text: 'Lato', sans-serif;

//Responsive
$xs: 320px;
$s: 479px;
$m: 768px;
$l: 960px;
$xl: 1280px;